<ion-view title="Dan Time" ng-init="initTime()">
  <ion-nav-buttons side="left">
    <button class="right button button-icon icon ion-arrow-left-c" ng-click="back()"></button>
  </ion-nav-buttons>
  <ion-content  class="has-footer">
    <div>
      <div class="card">
        <div class="item item-divider">
          <div class="item item-text-wrap">
            When Dan said it would only take him {{data[0]}} minutes to {{data[1]}}, it means {{data[2]}}
          </div>
        </div>
      </div>
    </div>
  </ion-content>
    <div class="bar bar-footer bar-stable">
      <div class="title">Broken Door Productions</div>
    </div>
</ion-view>